.letters {
    border:2px solid black;
    padding:12px 14px;
    margin:12px 0;
}

.selected {
    background: #797979;
}
.tab-title{
    text-align: center;
}
.tabs-box {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}